<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="views/bootstrap.css">

</head>

<body>

    <div class="container-expand" id="container">

        <header>
            <div class="nav-container">
                <nav>

                    <div class="list">
                        <ul>
                            <a href="#" id="toggle"><ion-icon name="menu"></ion-icon></a>
                            <li><i class="fa fa-battery fa-lg ">
                                    <span class="label">0.0000</span>
                                </i></li>
                            <li><i class="fa fa-bell-o fa-lg ">
                                    <span class="label1">0</span>
                                </i></li>
                            <li class="text-white">

                                <img src="views/avatar.png" width="25px" height="25px" class="img-circle" alt="demo1">
                                <span class="demo1">demo1</span>
                                <!-- <a href=""><input type="button" value="demo1" class=" btn bg-transparent text-white"></a>   -->


                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </header>

        <aside class="sidebar ">
            <div class="logo">
                <a href=""> <span>Menu</span>
                    <img src="views/logo.png" alt="logo" width="125px" height="46px"></a>


            </div>

            <div class="user-panel">
                <div class="image">
                    <img src="views/avatar.png" class="img-circle" alt="demo1">
                </div>
                <!-- <div class="profile-status"> -->
                <div class="pull-left text-white">
                    <p>demo1</p>
                    <a href="" class="text-white ">
                        <ion-icon class="fa fa-circle text-success"></ion-icon>
                        Online
                    </a>
                </div>
                <!-- </div> -->

            </div>


            <div class="aside-dashboard">
                <!-- class="accordion" -->
                <ul>
                    <li class="aside-tab">
                        <a href=""><ion-icon class="fa fa-dashboard  
                 fa-lg"></ion-icon><span class="level">Dashboard </span></a>

                    </li>

                    <li class="aside-tab">
                        <input type="checkbox" id="toggle1" class="aside-toggle" name="toggle">
                        <a href="">
                            <ion-icon class="fa fa-user fa-lg " name=""></ion-icon><span class="level"><label for="toggle1">Profile</label> </span>
                        </a>
                        <div class="aside-content">
                            <span class="content">Security</span>
                            <span class="content">Edit Profile</span>
                            <span class="content">Rate Plan</span>
                            <span class="content">Notification Settings</span>
                            <span class="content">API Key</span>
                            <span class="content">Credit History</span>
                            <span class="content">Docs Manager</span>
                            <span class="content">Sign out</span>
                           
                        </div>
                    </li>

                    <li class="aside-tab">
                        <input type="checkbox" id="toggle2" class="aside-toggle" name="toggle">
                        <a href="">
                            <ion-icon class="fa fa-comment fa-lg "></ion-icon><span class="level"><label for="toggle2">SMS</label></span></a>
                            <div class="aside-content">
                                <span class="content">Compose SMS</span>
                                <span class="content">SMS Schedule</span>
                                <span class="content">Sender ID</span>
                                <span class="content">Message Templates</span>
                                <span class="content">SMS Reports</span>
                                <span class="content">Google Verified SMS</span>
                                <span class="content">Message Drafts</span>
                                <span class="content">SMPP Details</span>
                                <span class="content">SMS API</span>
                                <span class="content">Validate DLT Template</span>
                            </div>
                    </li>

                    <li class="aside-tab">
                        <a href="">
                            <ion-icon class="fa fa-link fa-lg "></ion-icon><span class="level">Smart Link Manager</span></a>
                    </li>

                    <li class="aside-tab">
                        <input type="checkbox" id="toggle3" class="aside-toggle" name="toggle">
                        <a href="">
                            <ion-icon class="fa fa-address-book fa-lg "></ion-icon><span class="level"><label for="toggle3">Manage Group</label></span></a>
                            <div class="aside-content">
                                <span class="content">Groups</span>
                                <span class="content">Contacts</span>
                               
                            </div>    

                    </li>

                    <li class="aside-tab">
                        <input type="checkbox" id="toggle4" class="aside-toggle" name="toggle">
                        <a href="">
                            <ion-icon class="fa fa-info-circle fa-lg "></ion-icon><span class="level"><label for="toggle4">Info Center</label></span></a>
                            <div class="aside-content">
                                <span class="content">Load All</span>
                               
                               
                            </div> 
                    </li>

                    <li class="aside-tab">
                        <input type="checkbox" id="toggle5" class="aside-toggle" name="toggle">
                       <a href="">
                            <ion-icon class="fa fa-magic fa-lg "></ion-icon><span class="level" ><label for="toggle5">Extra</label> </span></a>
                        <div class="aside-content">
                            <span class="content">check DND</span>
                            <span class="content">generate Mobile Nos.</span>
                            <span class="content">Remove Duplicates</span>
                            <span class="content">SMS Length Calculator</span>
                            <span class="content">Downloads</span>
                            <span class="content">Encoder/Decoder</span>
                        </div>
                    </li>

                    <li class="aside-tab"><a href="">
                            <ion-icon class="fa fa-life-bouy fa-lg "></ion-icon><span class="level">Support</span></a>
                    </li>

                    <li class="aside-tab"><a href="">
                            <ion-icon class="fa fa-link fa-lg "></ion-icon><span class="level">Webhook</span></a>
                    </li>


                </ul>
            </div>

        </aside>
    </div>






    <main>

    </main>
    <footer>

    </footer>
    <!-- </div> -->
    <!-- </div> -->
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="views/toggle.js"></script>

    
</body>

</html>